body {
  background: #f4faff;
}

.color--pane__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.color--pane__icon-set {
  display: flex;
}

.color--pane__icon-set div {
  margin-left: 0.5em;
}

.color--pane__icon-set div i {
  font-size: 1.25em;
  cursor: pointer;
}

.title-layout {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.title {
  margin-right: 1rem;
}

.title-input {
  margin-right: 1rem;
}

.addNewBox {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addNewBtn {
  color: #3f51b5;
  background: #d3dbe2;
}
