* {
  margin: 0;
  padding: 0;
  border-style: border-box;
  position: relative;
}

body {
  background: #f4faff;
}

/* HEADER */
.header {
  margin-bottom: 1rem;
}

.header-layout {
  display: flex;
  justify-content: space-between;
}

.header-link {
  color: #ffffff;
  text-decoration: none;
}

.header-link:hover,
.header-link:active {
  color: #e0e0e0;
}

/* HOME */

.color--grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.color--box {
  margin-bottom: 2em;
  flex-basis: 47.5%;
}

.color--pane__container {
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

.color--pane {
  padding: 0.3em;
  display: flex;
  flex: 1;
}

@media screen and (max-width: 650px) {
  .color--box {
    flex-basis: 100%;
  }
}

/* PANE */

.color--pane__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.color--pane__icon-set {
  display: flex;
}

.color--pane__icon-set div {
  margin-left: 0.5em;
}

.color--pane__icon-set div i {
  font-size: 1.25em;
  cursor: pointer;
}

.title-layout {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.title {
  margin-right: 1rem;
}

.title-input {
  margin-right: 1rem;
}

.addNewBox {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addNewBtn {
  color: #3f51b5;
  background: #d3dbe2;
}
